<nav>
  <ul>
    <div class="divAnchor">
      <li><a class="navAnchor" href="/">Homepage</a></li>
    </div>
    <div class="divAnchor">
      <li><a class="navAnchor" href="/catagories">Catagories</a></li>
    </div>
    <div class="divAnchor">
      <li><a class="navAnchor" href="/products">All Products</a></li>
    </div>
  </ul>
  <div>
    <form action="/products/search" method="get">
      <label for="name">Search Products: </label>
      <input id="search" name="name" type="text" />
      <button class="searchBtn" type="submit">Search:</button>
    </form>
  </div>
</nav>
