<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Inventory</title>
    <link rel="stylesheet" href="welcome.css" />
  </head>
  <body>
    <div class="main">
      <h1>Food inventory</h1>
      <p>Search for Products that we have in our inventory!</p>
      <p>
        All types of food products like hot meals, drinks, snacks, and more.
      </p>
      <p>Contact us for more. . .</p>
      <a href="/products">
        <div class="divBtn">All Products</div>
      </a>
      <br />
      <a href="/catagories">
        <div class="divBtn">Catagories</div>
      </a>
    </div>
  </body>
</html>
