nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid orangered;
  background-color: yellowgreen;
  padding: 20px;
  border-radius: 100px;
  justify-self: center;
  width: 97%;
  font-size: 1.2rem;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  margin-inline: 10px;
}

.navAnchor {
  display: block;
  width: max-content;
  width: max-content;
  text-decoration: none;
  color: black;
  border-radius: 20px;
}

.divAnchor {
  border: 5px solid blue;
  border-radius: 20px;
  margin-inline: 5px;
}

.searchBtn {
  border: 2px solid black;
  border-radius: 10px;
}
